* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #21457a;
  background: #c6d0d1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 2rem;
}

header,
.Content {
  display: flex;
  justify-content: space-between;
  margin: 5% 20%;
}

.score-refresh {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score {
  min-width: 300px;
}

.score-content {
  padding-bottom: 30px;
}

.score-update {
  border: 2.5px solid  #487591;
  border-radius: 7px;
  height: 45vh;
  overflow-y: scroll;
}

.name-score {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.name-score:nth-child(odd) {
  background-color: antiquewhite;
}

button {
  display: flex;
  align-items: center;
  border: 3px solid #50dbed;
  color: #fff;
  height: 40px;
  padding: 7px;
  background: #3cb2c7;
  font-size: 1rem;
  border-radius: 8px;
}

.form {
  position: relative;
  width: 20rem;
  height: 3rem;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2.5px solid rgb(10, 109, 149);
  border-radius: 8px;
  font-family: inherit;
  font-size: 19px;
  color: rgb(14, 13, 13);
  outline: none;
  padding: 1.25rem;
  background: none;
}

.form__input:hover {
  border-color: rgb(31, 55, 56);
}

.form__input:focus {
  border-color: rgb(8, 174, 239);
}

.form__label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  color: rgb(29, 48, 66);
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.4rem;
  font-size: 0.8rem;
  left: 0.8rem;
  background-color:  #c6d0d1;
}

.form__input:not(:-moz-placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.4rem;
  font-size: 0.8rem;
  left: 0.8rem;
  background-color:  #c6d0d1;
}

.form__input:not(:-ms-input-placeholder).form__input:not(:focus) ~ .form__label {
  top: -0.4rem;
  font-size: 0.8rem;
  left: 0.8rem;
  background-color: #c6d0d1;
}

.form2 {
  position: relative;
  width: 20rem;
  height: 3rem;
  margin-top: 20px;
}

.form2__input2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2.5px solid rgb(10, 109, 149);
  border-radius: 8px;
  font-family: inherit;
  font-size: 19px;
  color: rgb(14, 13, 13);
  outline: none;
  padding: 1.25rem;
  background: none;
}

::-webkit-scrollbar {
  background-color: hsl(235, 24%, 19%);
  width: 0;
}

.form2__input2:hover {
  border-color: rgb(31, 55, 56);
}

.form2__input2:focus {
  border-color: rgb(8, 174, 239);
}

.form2__label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  color: rgb(29, 48, 66);
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.eye {
  position: absolute;
  margin-left: 280px;
  padding-top: 12px;
}

.fa {
  font-size: 20px;
  color: #7a797e;
}

.form2__input2:focus ~ .form2__label,
.form2__input2:not(:placeholder-shown).form2__input2:not(:focus) ~ .form2__label {
  top: -0.4rem;
  font-size: 0.8rem;
  left: 0.8rem;
  background-color:  #c6d0d1;
}

.form2__input2:not(:-moz-placeholder-shown).form2__input2:not(:focus) ~ .form2__label {
  top: -0.4rem;
  font-size: 0.8rem;
  left: 0.8rem;
  background-color:  #c6d0d1;
}

.form2__input2:not(:-ms-input-placeholder).form2__input2:not(:focus) ~ .form2__label {
  top: -0.4rem;
  font-size: 0.8rem;
  left: 0.8rem;
  background-color:  #c6d0d1;
}

.form-container {
  padding: 30px 0;
}

.Coll-2 {
  padding-left: 20px;
}

@media only screen and (max-width: 890px) {
  .Content {
    flex-direction: column;
    margin: 5%;
  }

  .score {
    width: 70vw;
    order: 4;
  }

  h1 {
    font-size: 10vw;
  }

  .form,
  .form2 {
    width: 70vw;
  }
}
